layout {
    cwd "/home/omen/personal/ansible"
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }

    tab name="bash" focus=true {
        pane
    }

    tab name="ide" {
        pane command="zsh" {
            args "-lc" "code -n -w . >/dev/null 2>&1; exec /home/omen/dotfiles/.local/bin/zsh-zellij-bootstrap"
        }
    }
}
