layout {
    cwd "/home/omen/personal/ps_events"
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }

    tab name="bash" focus=true {
        pane command="zsh" {
            args "-lc" "source dockerized.sh; clear; exec zsh -l"
        }
    }

    tab name="server" {
        pane command="just"
    }

    tab name="ide" {
        pane command="zsh" {
            args "-lc" "code --folder-uri \"vscode-remote://dev-container+$(pwd | tr -d '\\n' | xxd -c 256 -p)/app\""
        }
    }
}
