layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }

    tab name="bash" focus=true {
        pane command="zsh" {
            args "-lc" "cd \"$HOME/personal/ansible\"; clear; exec zsh -l"
        }
    }

    tab name="ide" {
        pane command="zsh" {
            args "-lc" "cd \"$HOME/personal/ansible\"; code -n . >/dev/null 2>&1; exec zsh -l"
        }
    }
}
