layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }

    tab name="bash" focus=true {
        pane command="zsh" {
            args "-lc" "export KUBECONFIG=~/.kube/config; start-k8s-work; clear; exec zsh -l"
        }
    }

    tab name="bash-2" {
        pane command="zsh" {
            args "-lc" "export KUBECONFIG=~/.kube/config; start-k8s-work; clear; exec zsh -l"
        }
    }

    tab name="ide" {
        pane command="code" {
            args "-n" "-w" "."
        }
    }
}
