[Desktop Entry]
Comment=
Exec=kdocker -mqi /snap/spotify/current/usr/share/spotify/icons/spotify-linux-128.png -d 15 spotify
Icon=/snap/spotify/current/usr/share/spotify/icons/spotify-linux-128.png
Name=Spotify dockerized
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
